@use "../../../../../styles/colors.scss" as colors;

.container {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-benefit {
  &__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #ada4a5;
    margin: 0;

    &--focus {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      color: #1d1617;
    }
  }
}

.schedules {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(274.42deg, #92a3fd 0%, #9dceff 124.45%);
    opacity: 0.2;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 12px;
  }

  &__icon {
    margin-right: 12px;
    &--right {
      margin-left: 12px;
    }
  }

  &__text {
    flex: 1;
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000;

    &--right {
      margin: 0;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #000;
    }
  }
}

.benefit-section {
  margin-bottom: 30px;
}

.chart {
  &__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1d1617;
  }

  &__header {
    margin-bottom: 15px;
  }

  &__content {
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 20px;
    padding: 20px;
  }
}

.tasks {
  &__group {
    margin-bottom: 30px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1d1617;
    margin: 0;
    &--link {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #ada4a5;
      margin: 0;
    }
  }

  &__text {
    &--name {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #1d1617;
      margin: 0 0 3px 0;
    }

    &--sub {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 15px;
      color: #a4a9ad;
      margin: 0 0 9px 0;
    }
  }

  &__list {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
  }

  &__item {
    display: flex;
    padding: 10px 15px;
    background: #fff;
    box-shadow: 0px 10px 40px rgb(29 36 42 / 5%);
    border-radius: 16px;
  }

  &__img {
    flex: 0;
    margin-right: 10px;
  }

  &__incon {
    flex: 0;
    margin-left: 10px;
  }

  &__infos {
    flex: 1;
  }
}
