<main class="container">
  <header class="header">
    <nav class="nav">
      <button class="nav__btn">
        <img src="../../../../../assets/icons/close.svg" class="nav__icon" />
      </button>

      <p class="nav__title">Editar tarefas</p>
    </nav>
  </header>

  <main class="tasks">
    <section class="tasks__group">
      <h3 class="tasks__title">Exercícios</h3>

      <ul class="tasks__list">
        <li class="tasks__item">
          <img class="tasks__img" src="../../../../../assets/imgs/personoids/phy1.svg">
          <div class="tasks__text--container">
            <p class="tasks__text">Warm Up</p>
            <p class="tasks__text--sub">05:00</p>
          </div>
          <mat-slide-toggle color="primary" class="tasks__toggle"></mat-slide-toggle>
        </li>
      </ul>
    </section>

    <section class="tasks__group">
      <h3 class="tasks__title">Alimentação</h3>

      <ul class="tasks__list">
        <li class="tasks__item">
          <img class="tasks__img" src="../../../../../assets/imgs/personoids/phy1.svg">
          <div class="tasks__text--container">
            <p class="tasks__text">Warm Up</p>
            <p class="tasks__text--sub">05:00</p>
          </div>
          <mat-slide-toggle color="primary" class="tasks__toggle"></mat-slide-toggle>
        </li>
      </ul>
    </section>

    <section class="tasks__group">
      <h3 class="tasks__title">Hobbies & Lifestyle</h3>

      <ul class="tasks__list">
        <li class="tasks__item">
          <img class="tasks__img" src="../../../../../assets/imgs/personoids/phy1.svg">
          <div class="tasks__text--container">
            <p class="tasks__text">Warm Up</p>
            <p class="tasks__text--sub">05:00</p>
          </div>
          <mat-slide-toggle color="primary" class="tasks__toggle"></mat-slide-toggle>
        </li>
      </ul>
    </section>
  </main>

  <footer class="footer">
    <app-btn>Guardar</app-btn>
  </footer>
</main>
