<main class="container">
  <header class="header">
    <nav class="nav">
      <button class="nav__btn">
        <img
          src="../../../../../assets/icons/back-arrow.svg"
          class="nav__icon"
        />
      </button>

      <p class="nav__title">Consultas</p>
    </nav>

    <h2 class="header__title">Agendadas</h2>
  </header>

  <main class="content">
    <ul class="schedules">
      <li class="schedules__item">
        <img
          src="../../../../../assets/icons/calendar.svg"
          class="schedules__icon"
        />
        <p class="schedules__text">Enfermeiro</p>
        <p class="schedules__text--right">27/11, 09:00 AM</p>
      </li>
      <li class="schedules__item--disabled">
        <img
          src="../../../../../assets/icons/calendar.svg"
          class="schedules__icon"
        />
        <p class="schedules__text">Enfermeiro</p>
        <p class="schedules__text--right"></p>
      </li>
    </ul>
  </main>

  <footer class="footer">
    <app-btn> Agendar nova consulta </app-btn>
  </footer>
</main>
