<main class="container">
  <header class="header">
    <nav class="nav">
      <button class="nav__btn" (click)="backPage()">
        <img src="../../../../../assets/icons/back-arrow.svg" class="nav__icon" />
      </button>

      <p class="nav__title">Consultas</p>
    </nav>

    <h2 class="header__title">Agendadas</h2>
  </header>

  <main class="content">
    <ul class="schedules">
      <li class="schedules__item" (click)="openRoom(nurseSchedule)" [class]="{
          'schedules__item--disabled': !nurseSchedule,
          schedules__item: nurseSchedule
        }">
        <img src="../../../../../assets/icons/calendar.svg" class="schedules__icon" />
        <p class="schedules__text">Enfermeiro(a)</p>
        <p class="schedules__text--right">{{ nurseSchedule?.dateTime }}</p>
      </li>
      <!-- <li
        (click)="openRoom(doctorSchedule)"
        [class]="{
          'schedules__item--disabled': !doctorSchedule,
          schedules__item: doctorSchedule
        }"
      >
        <img
          src="../../../../../assets/icons/calendar.svg"
          class="schedules__icon"
        />
        <p class="schedules__text">Médico(a)</p>
        <p class="schedules__text--right" *ngIf="!passedWithCoach">
          {{ doctorSchedule?.dateTime }}
        </p>
        <a
          *ngIf="passedWithCoach"
          class="schedules__text--link"
          (click)="goToSchedule('schedule/list?specialty=DOCTOR&first=false')"
          >clique aqui para escolher a data</a
        >
      </li> -->

      <li (click)="openRoom(nutriSchedule)" [class]="{
          'schedules__item--disabled': !nutriSchedule,
          schedules__item: nutriSchedule
        }">
        <img src="../../../../../assets/icons/calendar.svg" class="schedules__icon" />
        <p class="schedules__text">Nutricionista</p>
        <p class="schedules__text--right" *ngIf="!passedWithCoach">
          {{ nutriSchedule?.dateTime }}
        </p>
        <a *ngIf="passedWithCoach" class="schedules__text--link" (click)="
            goToSchedule('/home/schedule/list?specialty=Nutricionista&first=false')
          ">clique aqui para escolher a data</a>
      </li>

      <li (click)="openRoom(educatorSchedule)" [class]="{
          'schedules__item--disabled': !educatorSchedule,
          schedules__item: educatorSchedule
        }">
        <img src="../../../../../assets/icons/calendar.svg" class="schedules__icon" />
        <p class="schedules__text">Educador físico</p>
        <p class="schedules__text--right" *ngIf="!passedWithCoach">
          {{ educatorSchedule?.dateTime }}
        </p>
        <a *ngIf="passedWithCoach" class="schedules__text--link" (click)="
            goToSchedule(
              '/home/schedule/list?specialty=Educador%20físico&first=false'
            )
          ">clique aqui para escolher a data</a>
      </li>
    </ul>
  </main>
</main>
