@use "../../../../../styles/colors.scss" as colors;

.header {
  text-align: center;

  &__step {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: colors.$dark-primary-text;
    text-align: center;
    margin: 40px 0;
  }

  &__img {
    width: 100%;
  }

  &__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: colors.$dark-primary-text;
    margin: 40px 0 8px 0;
  }

  &__description {
    margin: 0 0 40px 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: colors.$disabled;
  }
}

.form {
  &__field {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__input {
    flex: 1;
  }

  &__btn ::ng-deep {
    button {
      height: 48px;
      border-radius: 14px;
      margin-left: 15px;
      margin-top: 16px;
      width: 48px;
    }
  }
}

.datepick {
  background: colors.$input-background;
  height: 48px;
  align-items: center;
  border-radius: 14px;

  &__icon {
    margin: 12px;
  }

  &__input {
    background: transparent;
    border: none;
    outline: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: colors.$input;
    flex: 1;
  }
}

.footer {
  &__btn button {
    margin-top: 45px;
  }
}
