$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$line-text: #dddada;
$disabled: #7b6f72;

$btn-secondary: linear-gradient(270deg, #c58bf2 0%, #eea4ce 100%);
$btn-secondary-light: linear-gradient(
  272.69deg,
  #c58bf2 -59.92%,
  #92a3fd 86.39%
);
$btn-flat: #98bffd;
$btn-primary: linear-gradient(270deg, #c66720 0%, #f0a508 100%);
$shadow: rgba(149, 173, 254, 0.3);
$input-background: #f7f8f8;
$input: #ada4a5;

$primary-palette: (
  50: #fef3e2,
  100: #fddfb6,
  200: #fccb88,
  300: #fab65b,
  400: #f9a63c,
  500: #f8982b,
  600: #f38d28,
  700: #ec7e25,
  800: #e56f23,
  900: #da5820,
  A100: #ffffff,
  A200: #fff3ec,
  A400: #ffd2b9,
  A700: #ffc2a0,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$secondary-palette: (
  50: #e6e9ee,
  100: #bec8d7,
  200: #96a5bb,
  300: #6f839f,
  400: #50698d,
  500: #2f507d,
  600: #294975,
  700: #21406a,
  800: #1b365d,
  900: #142645,
  A100: #87aeff,
  A200: #548bff,
  A400: #2168ff,
  A700: #0857ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$red-palette: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
