<main class="content">
  <header class="header">
    <nav class="nav">
      <button class="nav__btn" (click)="backPage()">
        <img
          src="../../../../../assets/icons/back-arrow.svg"
          class="nav__icon"
        />
      </button>

      <p class="nav__title">Agendar consulta</p>
    </nav>

    <h2 class="header__title">
      Selecione abaixo um dentre os horarios disponiveis
    </h2>
  </header>

  <ul class="schedule">
    <li
      class="schedule__item"
      *ngFor="let schedule of schedules"
      (click)="scheduling(schedule.src)"
    >
      <section>
        <p class="schedule__text">{{ schedule.name }}</p>
        <span class="schedule__text--sub">{{ schedule.specialty }}</span>
      </section>
      <section>
        <div class="schedule__text--container">
          <img src="../../../../../assets/icons/calendar-white.svg" />
          <p class="schedule__text--icon">{{ schedule.dayExtension }}</p>
        </div>
        <span class="schedule__text--sub">{{ schedule.date }}</span>
      </section>
      <section>
        <div class="schedule__text--container">
          <img src="../../../../../assets/icons/watch-white.svg" />
          <p class="schedule__text--icon">Horário</p>
        </div>
        <span class="schedule__text--sub">{{ schedule.hour }}</span>
      </section>
    </li>
  </ul>
</main>
