<main class="container">
  <header class="header-benefit">
    <h3 class="header-benefit__text">Bem-vindo de volta,</h3>
    <h3 class="header-benefit__text--focus">
      {{ nameBenefit }}
    </h3>
  </header>
  <main class="content">
    <img
      src="../../../../../assets/imgs/personoids/pessoa-sentada.svg"
      class="header__img"
    />
    <h3 class="header__title">Perfil completado com sucesso</h3>
    <h4 class="header__description">
      Obrigada pelas respostas! Essas informações vão nos ajudar a conhecer um
      pouco mais sobre você!
    </h4>
  </main>

  <footer class="footer" *ngIf="!hiddenMarkSchedule">
    <app-btn class="footer__btn" (click)="goToSchedule()"
      >Agendar consulta</app-btn
    >
  </footer>
</main>
