<app-layout-login>
  <app-logo layout-header></app-logo>
  <main layout-main>
    <app-hello-and-message
      [helloMessage]="'Ola,'"
      [message]="'Trocar senha'"
    ></app-hello-and-message>
    <p class="message">
      Como é o seu primeiro acesso, o que acha de trocar a sua senha para uma
      que seja do seu gosto e mais segura?
    </p>

    <form *ngIf="formNewPass" [formGroup]="formNewPass">
      <app-input-text class="form-register__field">
        <img
          input-prefix
          src="../../../../../assets/icons/pass.svg"
          class="form-register__img"
        />
        <input
          input-field
          [type]="typePass"
          placeholder="Senha"
          formControlName="newPass"
          class="form-register__input"
        />
        <section
          input-error
          *ngIf="formNewPass?.get('newPass')?.touched"
          class="form-register__errors"
        >
          <p
            *ngIf="formNewPass?.get('newPass')?.hasError('required')"
            class="form-register__error-msg"
          >
            Senha é obrigatória
          </p>
          <p
            *ngIf="formNewPass?.get('newPass')?.hasError('minlength')"
            class="form-register__error-msg"
          >
            Senha inválida
          </p>
        </section>
        <img
          class="form-register__img--post"
          input-postfix
          [src]="
            typePass === 'text'
              ? '../../../../../assets/icons/hide-pass.svg'
              : '../../../../../assets/icons/show-pass.svg'
          "
          (click)="togglePass()"
        />
      </app-input-text>
    </form>
  </main>

  <footer layout-footer class="footer">
    <section class="footer__btns">
      <app-btn
        [disabled]="!formNewPass?.valid"
        (click)="changePass()"
        [icon]="'../../../../../assets/icons/enter.svg'"
        >Trocar senha
      </app-btn>
    </section>

    <app-ask-link
      [orValue]="'Ou'"
      [message]="'Já possui uma conta?'"
      [link]="'Entrar'"
      (onClickLink)="goToLoginPage()"
    ></app-ask-link>
  </footer>
</app-layout-login>
