.footer {
  &__btns {
    margin-bottom: 20px;
  }
}

.message {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #7b6f72;
}
