@use "../../../../../../styles/colors.scss" as colors;

.message {
  &__or {
    text-align: center;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 45%;
      background: colors.$line-text;
      height: 1px;
    }

    &::after {
      left: 0;
      top: 50%;
    }

    &::before {
      left: 55%;
      top: 50%;
    }
  }

  &__value {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: colors.$dark-primary-text;
  }

  &__link {
    color: map-get($map: colors.$secondary-palette, $key: 400);
    &:hover {
      cursor: pointer;
    }
  }
}
