<main class="container">
  <header class="header-benefit">
    <h3 class="header-benefit__text">Bem-vindo de volta,</h3>
    <h3 class="header-benefit__text--focus">
      {{pageModel.name}}
    </h3>
  </header>

  <main class="content benefits">

    <section class="benefits__search">
      <img src="../../../../../assets/icons/search.svg" class="benefits__icon">
      <input type="text" class="benefits__input" (input)="$filterBenefit.next($event)">
    </section>

    <section class="benefits__content">
      <h3 class="benefits__title">Pacientes</h3>
      <ul class="benefits__list">
        <ng-container *ngFor="let benefit of benefits">
          <li class="benefits__item" (click)="goToBenefit(benefit)">
            <img src="../../../../../assets/imgs/profile.svg" class="benefits__img">
            <div class="benefits__infos">
              <p class="benefits__text--name">{{benefit.name}}</p>
              <p class="benefits__text--sub">Plano:
                {{benefit.plan ? benefit.plan.beginDate + ' - ' +benefit.plan.endDate : 'Destaivado'}}
              </p>
              <mat-progress-bar mode="determinate" [value]="getPercentage(benefit)"></mat-progress-bar>
            </div>
            <img src="../../../../../assets/icons/btn-arrow.svg" class="benefits__icon--next">
          </li>
        </ng-container>
      </ul>
    </section>
  </main>
</main>
