<main class="container">
  <main class="content">
    <ng-content></ng-content>
  </main>

  <nav class="menu">
    <ul class="menu__container">
      <li class="menu__item">
        <img src="../../../../../assets/icons/home.svg" />
      </li>
      <li class="menu__item">
        <img src="../../../../../assets/icons/dash.svg" />
      </li>
      <li class="menu__item--main">
        <img src="../../../../../assets/icons/task.svg" />
      </li>
      <li class="menu__item">
        <img src="../../../../../assets/icons/chat.svg" />
      </li>
      <li class="menu__item">
        <img src="../../../../../assets/icons/avatar.svg" />
      </li>
    </ul>
  </nav>
</main>
