<main class="container">
  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <nav class="menu">
    <ul class="menu__container">
      <li class="menu__item menu__item--home">
        <a
          [routerLink]="['first-access']"
          class="menu__link"
          routerLinkActive="menu__link--active"
        ></a>
      </li>
      <li class="menu__item menu__item--dash">
        <a
          [routerLink]="['dash']"
          class="menu__link"
          routerLinkActive="menu__link--active"
        ></a>
      </li>
      <li class="menu__item menu__item--main">
        <a [routerLink]="['task']">
          <img src="../../../../../assets/icons/task.svg" />
        </a>
      </li>
      <li class="menu__item menu__item--chat" (click)="showInDevelopment()">
        <!-- <a
          [routerLink]="['chat']"
          class="menu__link"
          routerLinkActive="menu__link--active"
        ></a> -->
        <a class="menu__link" href="javascript:void(0);"></a>
      </li>
      <li class="menu__item menu__item--profile">
        <a
          [routerLink]="['profile']"
          class="menu__link"
          routerLinkActive="menu__link--active"
        ></a>
      </li>
    </ul>
  </nav>
</main>
