@use "../../../../../styles/colors.scss" as colors;

.main-container-mobile {
  box-sizing: border-box;
  padding: 45px 30px;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-rows: 150px 1fr 1fr;

  .header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1.8rem 2.5rem;
    grid-area: header;

    &__logo {
      width: 100%;
    }
  }

  .login {
    grid-area: main;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__welcome {
      text-align: center;
    }

    &__message {
      margin: 0;
      &--simple {
        font-weight: 300;
        font-size: 16px;
      }

      &--contrast {
        font-weight: bold;
        font-size: 20px;
      }
    }

    &__form-container {
      margin-top: 30px;
      width: 100%;
    }

    &__field {
      width: 100%;
      background-color: #f7f8f8;
      margin-top: 15px;
      display: flex;
      justify-content: start;
      align-items: center;
      height: 48px;
      border-radius: 14px;
    }

    &__field-input {
      width: 80%;
      height: 75%;
      border: none;
      background: transparent;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #ada4a5;
      outline: transparent;
    }

    &__field-icon {
      margin: 12px;
      &--post {
        margin: 12px;
      }
    }

    &__field-error {
      margin: 0;
      padding-left: 12px;
      font-size: 0.8rem;
      font-weight: 300;
      color: map-get($map: colors.$red-palette, $key: 500);
    }

    &__actions {
      margin-top: 12px;
      a {
        font-style: normal;
        text-decoration: underline;
        color: #ada4a5;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  .actions {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__btns {
      width: 100%;
    }

    &__btn {
      width: 100%;
      height: 60px;
      border-radius: 99px;
      border: none;
      outline: transparent;
      color: white;
      background: linear-gradient(270deg, #c66720 0%, #f0a508 100%);
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__btn-icon {
      margin-right: 12px;
    }

    &__label {
      &--with-border {
        text-align: center;
        position: relative;

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 45%;
          background: #dddada;
          height: 1px;
        }

        &::after {
          left: 0;
          top: 50%;
        }

        &::before {
          left: 55%;
          top: 50%;
        }
      }

      &--with-link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #1d1617;
      }

      &--link {
        color: map-get($map: colors.$secondary-palette, $key: 400);
      }
    }
  }
}
