<app-layout-login>
  <app-logo layout-header class="header"></app-logo>

  <main layout-main class="login">
    <app-hello-and-message
      [helloMessage]="'Ola,'"
      [message]="'Muito bom te ver por aqui'"
    ></app-hello-and-message>

    <section class="login__form-container">
      <form *ngIf="formLogin" [formGroup]="formLogin" class="login__form">
        <app-input-text class="login__field">
          <img
            input-prefix
            src="../../../../../assets/icons/email.svg"
            class="login__field-icon"
          />
          <input
            input-field
            class="login__field-input"
            type="email"
            placeholder="Email"
            formControlName="email"
          />
          <section input-error *ngIf="formLogin?.get('email')?.touched">
            <p
              class="login__field-error"
              *ngIf="formLogin?.get('email')?.hasError('required')"
            >
              E-mail obrigatório
            </p>
            <p
              class="login__field-error"
              *ngIf="formLogin?.get('email')?.hasError('pattern')"
            >
              E-mail inválido
            </p>
            <p
              class="login__field-error"
              *ngIf="formLogin?.get('email')?.hasError('firstAccess')"
            >
              Conta não ativada verifique seu e-mail
            </p>
            <p
              class="login__field-error"
              *ngIf="formLogin?.get('email')?.hasError('notFoundEmail')"
            >
              E-mail não cadastrado
            </p>
          </section>
        </app-input-text>

        <app-input-text class="login__field">
          <img
            input-prefix
            alt="Icone de mostrar senha"
            src="../../../../../assets/icons/pass.svg"
            aria-hidden="false"
            aria-label="Icone de email"
            class="login__field-icon"
          />

          <input
            input-field
            class="login__field-input"
            [type]="typePass"
            name="pass"
            formControlName="pass"
            placeholder="Senha"
          />

          <img
            input-postfix
            alt="Icone de mostrar senha"
            [src]="
              typePass === 'text'
                ? '../../../../../assets/icons/hide-pass.svg'
                : '../../../../../assets/icons/show-pass.svg'
            "
            class="login__field-icon--post"
            (click)="togglePass()"
          />

          <section input-error *ngIf="formLogin?.get('pass')?.touched">
            <p
              class="login__field-error"
              *ngIf="formLogin?.get('pass')?.hasError('required')"
            >
              Senha é obrigatório
            </p>
            <p
              class="login__field-error"
              *ngIf="formLogin?.get('pass')?.hasError('minlength')"
            >
              Senha deve ter no mínimo 4 caracteres
            </p>
          </section>
        </app-input-text>
      </form>
    </section>

    <section class="login__actions">
      <a
        *ngIf="formLogin?.get('email')?.valid"
        (click)="requestChangePass()"
        class="actions__btn-link"
      >
        Esqueceu sua senha
      </a>
    </section>
  </main>

  <footer class="actions" layout-footer>
    <section class="actions__btns">
      <app-btn
        [disabled]="!formLogin?.valid"
        [icon]="'../../../../../assets/icons/enter.svg'"
        (click)="login()"
        class="actions__btn"
        >Entrar
      </app-btn>
    </section>

    <app-ask-link
      class="actions__info"
      [orValue]="'Ou'"
      [message]="'Ainda nao possui uma conta?'"
      [link]="'Entrar em contato'"
      (onClickLink)="sendEmailEnterContact()"
    ></app-ask-link>
  </footer>
</app-layout-login>
