@use "../../../../../styles/colors.scss" as colors;
.form {
  &__field {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &--btn {
      margin-right: 12px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__input {
    flex: 1;
  }

  &__btn ::ng-deep {
    button {
      height: 48px;
      border-radius: 14px;
      margin-left: 15px;
      width: 48px;
      margin-top: 16px;
    }
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  align-items: center;
}

.content {
  flex: 1;
  width: 100%;
}

.footer {
  flex: 1;
  padding-bottom: 100px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: end;
}

.header {
  text-align: center;
  &__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #1d1617;

    &--sub {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: #7b6f72;
    }
  }
}

.textarea {
  display: flex;
  justify-content: space-between;
  background: colors.$input-background;
  border-radius: 14px;
  margin-top: 15px;
  align-items: baseline;
  margin-right: 12px;
  font-family: "Poppins";
  &__icon {
    margin: 12px;

    transform: translateY(4px);
  }

  &__input {
    background: transparent;
    border: none;
    outline: none;
    height: 100px;
    width: 100%;
    resize: none;
    font-family: "Poppins";
  }
}
