.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  &__btn {
    background: #fff;
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 8px;
  }

  &__title {
    flex: 1;
    text-align: center;
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  &__icon {
    width: 6px;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px 16px 90px 16px;
  height: 200px;
  &__content {
    display: flex;
    justify-content: center;
  }
}

.content {
  padding: 25px 20px 30px 20px;
  flex: 1;
  transform: translateY(-40px);
  border-radius: 40px 40px 0 0;
  background: #fefefe;
  &::before {
    content: "";
    position: fixed;
    width: 50px;
    height: 5px;
    left: calc(50% + -25px);
    top: 10px;
    background: #e8e7e8;
    border-radius: 50px;
  }
}
