.form-register {
  &__check {
    margin-top: 15px;
    display: flex;
  }

  &__check-input {
    margin-right: 10px;
  }

  &__check-label {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;

    color: #ada4a5;
  }

  &__check-link {
    text-decoration: underline;
    cursor: pointer;
  }

  &__img {
    &--icon {
      font-size: 20px;
      color: #7b6f72;
    }
  }

  &__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-radius: 14px;
    background: #f7f8f8;
    margin-top: 15px;
    padding-right: 12px;
  }

  &__select-icon {
    margin: 12px;
  }
}

.footer {
  &__btns {
    margin-bottom: 10px;
  }
}
