@use "../../../../../styles/colors.scss" as colors;
.form-register {
  &__check {
    margin-top: 15px;
    display: flex;
  }

  &__check-input {
    margin-right: 10px;
  }

  &__check-label {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;

    color: colors.$input;
  }

  &__check-link {
    text-decoration: underline;
    cursor: pointer;
  }

  &__img {
    &--icon {
      font-size: 20px;
      color: colors.$disabled;
    }
  }

  &__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-radius: 14px;
    background: colors.$input-background;
    margin-top: 15px;
    padding-right: 12px;
  }

  &__select-icon {
    margin: 12px;
  }
}

.footer {
  &__btns {
    margin-bottom: 10px;
  }
}
